
.body{
    background: url("./back.jpg");
    background-repeat: cover;

}

img{
    height: 250px;
    width: 250px;
       
}
.main{
    border: spx solid black;
    justify-content: space-evenly;
    display: flex;
    background: linear-gradient(white,black);
}
h3{
    text-align: center;
    font-size:large;
    color:aqua;
}
h1{
    margin-bottom: 100px;
    color:blue;
    font-size:xx-large;
   
}
img:hover{
    opacity: 1;
}
.body1{
    background: linear-gradient(rgb(203, 203, 211),rgb(119, 117, 117));
}
.img1{
   
    height: 500px;
    width: 800px;
    border:solid black;
}
.story1{
    color: black;
    font-size:x-large;
     
}
.body2{
    background: linear-gradient(rgb(203, 203, 211),rgb(119, 117, 117));
}
.img2{
   
    height: 500px;
    width: 800px;
    border:solid black;
}
.story2{
    color: black;
    font-size:x-large
     
}
.body3{
    background: linear-gradient(rgb(203, 203, 211),rgb(119, 117, 117));
   
}
.img3{
   
    height: 500px;
    width: 800px;
    border:solid black;
}
.story3{
    color: black;
    font-size:x-large
     
}
.body4{
    background: linear-gradient(rgb(203, 203, 211),rgb(119, 117, 117));
}
.img4{
   
    height: 500px;
    width: 800px;
    border:solid black;
}
.story4{
    color: black;
    font-size:x-large
     
}